<div class="bg-layer-1" [ngClass]="{ paused: !animationPlay() }"></div>
<div class="bg-layer-2" [ngClass]="{ paused: !animationPlay() }"></div>
<div class="bg-layer-3" [ngClass]="{ paused: !animationPlay() }"></div>
<div class="bg-layer-4" [ngClass]="{ paused: !animationPlay() }"></div>
<div class="bg-layer-5" [ngClass]="{ paused: !animationPlay() }"></div>
<div class="bg-layer-6" [ngClass]="{ paused: !animationPlay() }"></div>
<div class="bg-layer-7" [ngClass]="{ paused: !animationPlay() }"></div>
