@if(gameState() === 'playing' && player()){
<div class="panel-title">Stats</div>
<div class="player-stat">
  <div>Health</div>
  <div>
    {{ player()?.currentHealth | number : "1.0-0" }} /
    {{ player()?.totalHealth }}
  </div>
</div>
<div class="player-stat">
  <div>Attack</div>
  <div>
    {{ (player()?.attack ?? 0) + (player()?.attributes?.powerPoints ?? 0) }}
  </div>
</div>
<div class="player-stat">
  <div>Defense</div>
  <div>
    {{ (player()?.defense ?? 0) + (player()?.attributes?.shieldPoints ?? 0) }}
  </div>
</div>
<div class="player-stat">
  <div>Attack Speed</div>
  <div>{{ player()?.attackSpeed }}x</div>
</div>

} @else {
<div class="state-start">Waiting for the game to start</div>
}
