@if(gameState() === 'playing'){
<div class="panel-title">Upgrades</div>
<div class="player-attribute">
  <div>Gold</div>
  <div class="gold-coins">
    <span> {{ player()?.gold }} </span>
    <img
      class="sword"
      src="../../../../../public/images/game/items/sword.png"
    />
  </div>
</div>
<div class="player-attribute">
  <div>Power (2<img class="sword" src="/images/game/items/coin.png" />)</div>
  <div>
    <button
      (click)="increaseAttribute('power', 1, 2)"
      [ngClass]="{ disabled: buttonDisabled().power.one }"
    >
      <span>{{ player()?.attributes?.powerPoints }}</span>
      <img class="sword" src="/images/game/items/sword.png" />
    </button>
    <button
      (click)="increaseAttribute('power', 10, 20)"
      [ngClass]="{ disabled: buttonDisabled().power.ten }"
    >
      <img class="sword" src="/images/game/items/sword.png" />
      <span>x10</span>
    </button>
  </div>
</div>
<div class="player-attribute">
  <div>Shield (4<img class="sword" src="/images/game/items/coin.png" />)</div>
  <div>
    <button
      (click)="increaseAttribute('shield', 1, 4)"
      [ngClass]="{ disabled: buttonDisabled().shield.one }"
    >
      <span>{{ player()?.attributes?.shieldPoints }}</span>
      <img class="shield" src="/images/game/items/shield.png" />
    </button>
    <button
      (click)="increaseAttribute('shield', 10, 40)"
      [ngClass]="{ disabled: buttonDisabled().shield.ten }"
    >
      <img class="shield" src="/images/game/items/shield.png" />
      <span>x10</span>
    </button>
  </div>
</div>
<div class="player-attribute">
  <div>Potion (6<img class="sword" src="/images/game/items/coin.png" />)</div>
  <div>
    <button
      (click)="usePotion(10, 6)"
      [ngClass]="{ disabled: buttonDisabled().potion.basic }"
    >
      <span class="potion basic-potion"></span>
      <span>x1</span>
    </button>
    <button
      (click)="usePotion(40, 24)"
      [ngClass]="{ disabled: buttonDisabled().potion.full }"
    >
      <span class="potion full-potion"></span>
      <span>x4</span>
    </button>
  </div>
</div>
} @else {
<div class="state-start">Waiting for the game to start</div>
}
