html {
  display: block;
  height: 100%;
  width: 100%;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #333;
  padding-top: 2rem;
}

@font-face {
  font-family: "pixellaria";
  src: url("../public/fonts/pixellari.ttf");
}

@font-face {
  font-family: "pixelmax";
  src: url("../public/fonts/pixelmax-regular.otf");
}

@font-face {
  font-family: "pixelmax-outline";
  src: url("../public/fonts/pixelmax-outline.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "pixelmax", sans-serif;
  font-weight: 100;
  font-size: 3rem;
}

div,
a,
p,
span,
button,
input {
  font-family: "pixelmax", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
